header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;

    background: #EFEEEE;
    opacity: 0.93;
    z-index: 10;
}

.sign-in-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dadada;
    border-radius: 20px;
    height: 40px;
    padding: 5px 10px;

    margin-right: 30px;
}

.sing-in {
    font-size: 15px;
    margin: 0 5px;
}

.name {
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name-red{
    color: #AB132FDE;
}

.header-icon {
    font-size: 30px;
    margin: 0 3px;
    color: rgba(0, 0, 0, .1);
}

.user {
    color: rgb(180, 0, 0);
}

